version: '3'

services:
  db:
    image: postgres:latest
  web:
    build: .
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/django_docker
    ports:
      - "8000:8000"
    depends_on:
      - db
